<form action='/persona' method="post">

  <fieldset class="form-group">
    <label>Good or Evil? {{ character }}</label>
    <div class="form-check">
      <label class="form-check-label">
        <input type="radio" class="form-check-input" name="character" id="chcaracter-good" value="good"
        {{#if (eq character 'good')}}
           checked
         {{/if}}>
        Good
      </label>
    </div>
    <div class="form-check">
    <label class="form-check-label">
        <input type="radio" class="form-check-input" name="character" id="chcaracter-evil" value="evil"
        {{#if (eq character "evil")}}
           checked
         {{/if}}>
        Evil
      </label>
    </div>
  </fieldset>

  <div class="form-group">
    <label for="exampleTextarea">Favourite Food?</label>
    <textarea class="form-control" name='food' id="favourite-food" rows="1"
    >{{#if food }}
        {{ food }}
        {{/if}}</textarea>
  </div>

  <div class="form-group">
    <label for="exampleSelect1">Favourite colour</label>
    <select class="form-control" id="favourite-colour" name="colour">
      <option vaule="green"
        {{#unless colour }}
           selected
         {{/unless}}>
      </option>
      <option vaule="green"
        {{#if (eq colour "green")}}
           selected
         {{/if}}>Green
      </option>
      <option vaule="blue"
        {{#if (eq colour "blue")}}
           selected
         {{/if}}>Blue</option>
      <option vaule="red"
        {{#if (eq colour "red")}}
           selected
         {{/if}}>Red</option>
      <option vaule="yellow"
        {{#if (eq colour "yellow")}}
           selected
         {{/if}}>Yellow</option>
      <option vaule="brown"
        {{#if (eq colour "brown")}}
           selected
         {{/if}}>Brown</option>
    </select>
  </div>

  <div class="form-group">
    <label for="exampleSelect1">Insanity Level</label>
    <input id="insanity-level" name="insanity" type="range" min="10" max="100" step="10" value="{{ insanity }}"/>
  </div>

  <div class="form-group">
    <button type="submit" class="btn btn-primary" method='post'>Submit</button>
    <a href="/clear" class="btn">Reset</a>
  </div>
</form>

<br><br>
<!-- CONTENT -->
<!-- LIKES/DISLIKES -->
<div class={{ character }}>


<!-- BIO-->

<h3>Biography</h3>

{{#if (eq character 'evil')}}
<img src="images/atilla.jpeg" alt="atilla">

<p>Attila ( 406–453), frequently referred to as Attila the Hun, was the ruler of the Huns from 434 until his death in March 453.</p>
<p>He was also the leader of a tribal empire consisting of Huns, Ostrogoths, and Alans among others, on the territory of Central and Eastern Europe. </p>
<p> Attila was Khan of the Huns. He is remembered as the epitome of cruelty and rapacity.</p>
{{/if}}

{{#if (eq character 'good')}}
<img src="images/marcus.jpg" alt="marcus">
<p>Marcus Aurelius (121 – 180) was one of the great 5 Roman Emperors. He is widely regarded to be the model for a just Roman ruler. </p>
<p>He combined statesmanship with a profound interest in stoic philosophy. His meditations reflect his thoughts on self enquiry and self-improvement.</p>
<p>“Waste no more time talking about great souls and how they should be. Become one yourself!”</p>
{{/if}}

<!-- Resume -->
{{#unless character }}

The website generates a list of jobs and core competencies for this configurable property—fashioned entity. What jobs might an evil persona have? What core competencies might be exhibited by someone who likes the color chartreuse?
{{/unless}}
</div>
