<form>

  <fieldset class="form-group">
    <label>Good or Evil?</label>
    <div class="form-check">
      <label class="form-check-label">
        <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios1" value="good" checked>
        GOOD
      </label>
    </div>
    <div class="form-check">
    <label class="form-check-label">
        <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="evil">
        EVIL
      </label>
    </div>
  </fieldset>

  <div class="form-group">
    <label for="exampleTextarea">Favourite Food?</label>
    <textarea class="form-control" id="exampleTextarea" rows="1"></textarea>
  </div>

  <div class="form-group">
    <label for="exampleSelect1">Favourite colour</label>
    <select class="form-control" id="exampleSelect1">
      <option vaule="green">Green</option>
      <option vaule="blue">Blue</option>
      <option vaule="red">Red</option>
      <option vaule="yellow">Yellow</option>
      <option vaule="brown">Brown</option>
    </select>
  </div>

  <div class="form-group">
    <label for="exampleSelect1">Insanity Level</label>
    <input id="ex1" data-slider-id='ex1Slider' type="text" data-slider-min="0" data-slider-max="20" data-slider-step="1" data-slider-value="14"/>
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>


Likes and Dislikes

Display two lists, one of likes, another of dislikes. The content and/or ordering of these lists should shift with the properties listed above. Clearly, favorite food and color deserve a cameo on the list of likes.

Biography

Let's build a life story for this configurable property-based persona. Be sure to touch on early childhood, education, and personal life. Don't forget to be weird—and, as always, be property-derived.

Resume

Generate us a list of jobs and core competencies for this configurable property—fashioned entity. What jobs might an evil persona have? What core competencies might be exhibited by someone who likes the color chartreuse?

Other Things!

You should get the gist by now. Please, feel free to add your own sections and make this your own. This project should be a pure expression of the configurable properties your parents chose at your birth.
